<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consultório Médico</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>Consultório Médico</h1>
    </header>
    <main>
      <div class="container">
        <form action="/" method="POST">
          <button type="submit" name="botao" value="pacientes">
            Gerenciar Pacientes
          </button>
          <button type="submit" name="botao" value="agendamentos">
            Agendamentos
          </button>
          <button type="submit" name="botao" value="medicos">Médicos</button>
          <button type="submit" name="botao" value="prontuarios">
            Prontuários
          </button>
          <button type="submit" name="botao" value="configuracoes">
            Configurações
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
